services:
  database:
    image: postgres:18
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - database
    env_file:
      - .env
    volumes:
      - ./:/app
    working_dir: /app
    command: ["/bin/sh", "-c", "python main.py"]

volumes:
  db_data:
    driver: local
