services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/
    ports:
      - "5432:5432"

  bot:
    build: .
    depends_on:
      - postgres
    env_file:
      - .env

volumes:
  db-data:
    driver: local
